/* General Rules S */

:root {
  --main-color: rgb(202, 11, 123);
  --main-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 42px rgb(255, 0, 149), 0 0 82px rgb(255, 0, 149);
  /* 0 0 92px rgb(255, 0, 149), 0 0 102px rgb(255, 0, 149),
    0 0 151px rgb(255, 0, 149); */
  --second-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 25px white,
    0 0 50px white, 0 0 100px var(--third-color), 0 0 150px var(--third-color),
    0 0 200px var(--third-color), 0 0 220px var(--third-color),
    0 0 250px var(--third-color);
  --second-color: rgb(248, 247, 247);
  --third-color: rgb(253, 228, 0);
  --bck-color: rgba(5, 5, 5, 0.123);
  --bck-color-main: rgba(8, 7, 7, 0.25);
  --main-font-size: 25px;
  --second-font-size: 17.5px;
  --third-font-size: 15px;
  --neon-font-size: 37px;
  --light: #ffffff;
  --blue: #7f9cf5;
  --dark: rgb(202, 11, 123);
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Fredericka the Great", cursive;
  font-family: "Sora", sans-serif;
  background-color: var(--bck-color-main);
}

/* Grid Layout Start */

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(7, minmax(200px, 100%), 1fr);
  grid-auto-columns: 1fr 1fr;
  gap: 50px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "main-nav main-nav main-nav"
    "main-container main-container main-container"
    "short-bio-section short-bio-section short-bio-section"
    "skills skills skills"
    "resume resume resume"
    "projects projects projects"
    "contact contact contact";
}

.main-container {
  grid-area: main-container;
}

.short-bio-section {
  grid-area: short-bio-section;
}

.main-nav {
  grid-area: main-nav;
}

.skills {
  grid-area: skills;
}

.resume {
  grid-area: resume;
}

.projects-container {
  grid-area: projects;
}

.contact-container {
  grid-area: contact;
}
/* Grid Layout End */

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--second-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* General Rules E */

/* Header Start */
.container {
  /* background-image: url(../imgs/abandon.webp);
  background-size: cover; */

  background-color: rgb(12, 3, 3);
}

.main-container {
  width: inherit;
  display: flex;
  justify-content: center;
  grid-column: 1/-1;
  height: 400px;
  align-items: center;
}

.main-text {
  /* z-index: 2; */
  color: var(--second-color);
  text-align: center;
  text-shadow: var(--main-shadow);
  padding: 20px;
  font-family: "Fredericka the Great", cursive;
  font-variant: small-caps;
}
.main-text h2 {
  padding: 1.5rem 1rem 1rem;
  border: 0.3rem solid #fff;
  border-radius: 1rem;
  font-size: var(--neon-font-size);
  letter-spacing: 3px;
  /* animation: slide 1.5s forwards; */
  animation-delay: 1s;
  box-shadow: var(--main-shadow);
}

.main-text p {
  /* animation: flicker 4s 2 alternate; */
  font-size: var(--neon-font-size);
  letter-spacing: 2.5px;
  font-variant: small-caps;
  font-weight: bold;
  animation-delay: 3s;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-bottom {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
      0 0 42px rgb(255, 0, 149), 0 0 82px rgb(255, 0, 149),
      0 0 92px rgb(255, 0, 149), 0 0 102px rgb(255, 0, 149),
      0 0 151px rgb(255, 0, 149);
  }
  20%,
  30%,
  55% {
    text-shadow: none;
  }
}

/* Nav Start */

.main-nav {
  z-index: 1;
  height: 80px;
  position: fixed;
}

.main-nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding-left: 0;
  margin-top: 0;
  padding: 10px 0;
  background-color: var(--bck-color-main);
}

.main-nav ul li {
  text-decoration: none;
}

.main-nav ul li.active {
  text-shadow: var(--main-shadow);
}

.main-nav ul li a {
  text-decoration: none;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.main-nav ul li a i {
  color: var(--main-color);
  font-size: 25px;
}

.material-icons-outlined.menu-icon {
  display: none;
  padding: 15px 0px 0px 10px;
  font-size: 25px;
  color: var(--main-color);
  cursor: pointer;
  z-index: 100;
  background-color: var(--bck-color-main);
}

@media (max-width: 530px) {
  .main-nav ul {
    margin: auto;
    display: none;
    opacity: 0;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100vw;
    gap: 25px;
    z-index: 10000;
    transform: 1s;
  }
  .material-icons-outlined.menu-icon {
    display: block;
    width: 100vw;
    z-index: 100000;
  }
  .main-nav ul.active {
    display: flex;
    opacity: 1;

    z-index: 10000;
  }
}

/* Nav Finish */

/* Header Finish */

/* Short Bio Section */
.short-bio-section {
  width: calc(100vw - 10px);
  height: 400px;
}
.short-bio-container {
  color: var(--second-color);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.short-bio-container .grid-image {
  grid-column: 1 /5;
  grid-row: 1 /3;
  width: 100%;
  border-radius: 20px;
}

.short-bio-container .grid-text {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  color: var(--second-color);
  text-shadow: var(--main-shadow);
  font-size: var(--second-font-size);
  word-spacing: 4px;
  letter-spacing: 1px;
}

.short-bio-container p span {
  font-weight: bold;
}

.short-bio-container .me {
  grid-column: 4/6;
  grid-row: 2 /3;
  border-radius: 50%;
  border: 5px double var(--main-color);
}

@media (min-width: 1024px) {
  .main-text h2 {
    padding: 2rem 2.5rem 2.3rem;
  }
}

@media (max-width: 530px) {
  .main-text h2,
  .main-text p {
    font-size: var(--main-font-size);
  }
  .main-nav ul li a i,
  .main-nav ul li a span {
    font-size: 11.5px;
  }
  h3 {
    font-size: var(--third-font-size);
  }
  .short-bio-container .grid-text {
    font-size: 11px;
    grid-area: 1/1/2/5;
    margin-left: 10px;
  }
  .short-bio-container .me {
    grid-column: 3/6;
    grid-row: 2 /4;
    border-radius: 50%;
    border: 5px double var(--main-color);
    width: 100%;
    height: auto;
  }
}

/* Short Bio End */

/* Skills Section Start */
.skills {
  height: 400px;
}

.skills h2 {
  color: var(--second-color);
  font-size: 45px;
  text-shadow: var(--main-shadow);
  text-align: center;
  padding: 50px;
}

.skills-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.skills-container i {
  color: var(--main-color);
  font-size: 40px;
  text-shadow: var(--main-shadow);
  text-align: center;
  margin: 20px 30px;
  position: relative;
}

.skills-container i span {
  position: absolute;
  left: 50%;
  top: -45px;
  transform: translate(-50%);
  font-size: var(--third-font-size);
  background-color: var(--bck-color-main);
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 7px;
  transition: 0.75s;
  opacity: 0;
}

/*    Tooltip    */

.skills-container i span::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-width: 10px;
  border-style: solid;
  bottom: -20px;
  border-color: var(--bck-color-main) transparent transparent transparent;
}

.skills-container i:hover span {
  opacity: 1;
}

@media (max-width: 530px) {
  .skills-container i span {
    font-size: 10px;
    top: -40px;
  }
  .skills h2 {
    margin: 0;
  }
}

@media (min-width: 530px) {
  .skills-container i {
    font-size: 60px;
    margin: 20px 60px;
  }

  .skills h2 {
    margin-bottom: 50px;
    padding: 0;
  }
}
/* Skills section End */

/* X Marks Change Theme Start */
.xxx {
  position: absolute;
  color: var(--third-color);
  top: 50%;
  right: 0;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.xxx i {
  position: relative;
  font-size: xx-large;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 25px white,
    0 0 50px white, 0 0 100px var(--third-color), 0 0 150px var(--third-color),
    0 0 200px var(--third-color), 0 0 220px var(--third-color),
    0 0 250px var(--third-color);
}
.xxx i span {
  position: absolute;
  left: -55px;
  transform: translate(-50%);
  font-size: var(--third-font-size);
  background-color: var(--bck-color-main);
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 7px;
  transition: 1s;
  opacity: 0;
  transition: 1s;
}

.xxx i span::before {
  content: "";
  position: absolute;
  right: -30px;
  top: 20%;
  transform: translate(-50%, -50%);
  border-width: 10px;
  border-style: solid;
  transition: 1s;
  border-color: transparent transparent transparent var(--bck-color-main);
}

.xxx i:hover span {
  opacity: 1;
}

/* X Marks End */
/* Resume Section Start */
.resume {
  height: 500px;
}

.resume h2 {
  color: var(--second-color);
  font-size: 45px;
  text-shadow: var(--main-shadow);
  text-align: center;
  padding: 0;
  margin-bottom: -50px;
}

.resume .animation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 545px;
  overflow: hidden;
}

.resume .loader {
  position: relative;
  height: 445px;
  width: 445px;
  /* z-index: 3; */
}

.resume .loader span {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  height: 180px;
  width: 180px;
  transform: rotate(calc(36deg * var(--i)));
}

.resume .loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 4px solid var(--main-color);
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 0 18px var(--main-color), -18px -18px 0 var(--main-color),
    -18px -18px 18px var(--main-color), 18px 18px 0 var(--main-color),
    18px 18px 18px var(--main-color), 18px -18px 0 var(--main-color),
    18px -18px 18px var(--main-color), -18px 18px 0 var(--main-color),
    -18px 18px 18px var(--main-color);
  animation: animate 5s linear infinite;
  animation-delay: calc(-0.5s * var(--i));
  transform-origin: 20px;
  transition: 1s;
}
.resume .loader:hover span::before {
  transform-origin: 300px;
  box-shadow: 0 0 150px var(--main-color), -150px -150px 0 var(--main-color),
    -150px -150px 150px var(--main-color), 150px 150px 0 var(--main-color),
    150px 150px 150px var(--main-color), 150px -150px 0 var(--main-color),
    150px -150px 150px var(--main-color), -150px 150px 0 var(--main-color),
    -150px 150px 150px var(--main-color);
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    filter: hue-rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.resume-button {
  background-color: var(--main-color);
  color: var(--second-color);
  border: transparent;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 39%;
  left: 34%;
  box-shadow: var(--main-shadow);
  text-decoration: none;
}

/* Resume Section End */
/* To Top BTN Start*/
.fa-solid.fa-angles-up {
  transform: translateY(150px);
  z-index: 8000;
  margin: 10px;
  transition: 1.25s;
  position: fixed;
  color: var(--third-color);
  right: 0;
  bottom: 50px;
  font-size: xx-large;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 25px white,
    0 0 50px white, 0 0 100px var(--third-color), 0 0 150px var(--third-color),
    0 0 200px var(--third-color), 0 0 220px var(--third-color),
    0 0 250px var(--third-color);
  cursor: pointer;
}

.fa-solid.fa-angles-up.active {
  transform: translateY(0);
}
/* To Top BTN End*/
/* Projects Start */
.projects-container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-container h2 {
  color: var(--second-color);
  font-size: 45px;
  text-shadow: var(--main-shadow);
  text-align: center;
  padding: 0;
  margin: 50px;
}

.projects-container .card {
  position: relative;
  width: 270px;
  height: 300px;
  border-radius: 20px;
  background-color: var(--main-color);
  box-shadow: var(--main-shadow);
}

.card span {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.card span::before {
  content: "Coming Soon!";
  width: 150%;
  height: 40px;
  background: white;
  position: absolute;
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  /* text-transform: uppercase; */
  font-weight: 700;
  word-spacing: 2px;
}

.card span::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background: white;
  left: 0;
  bottom: 0;
  z-index: -1;
  box-shadow: 140px -140px white;
}
/* Projects End */

/* Contact Stat */
.contact-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container h2 {
  color: var(--second-color);
  font-size: 45px;
  text-shadow: var(--main-shadow);
  text-align: center;
  padding: 0;
  margin: 50px;
}

#fs-frm {
  height: 400px;
}

#fs-frm-inputs {
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: center;
  gap: 10px;
  color: var(--main-color);
  border: 2px solid;
}

#fs-frm-inputs input {
  padding: 10px;
}

#fs-frm [type="submit"] {
  background: var(--main-color);
  color: var(--second-color);
  text-shadow: var(--main-shadow);
  border: none;
  padding: 10px;
  margin-top: 10px;
}
/*Contact End */
.theme-switches {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0;
  top: 90px;
}

.switch {
  border: 2px solid black;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  margin: 5px;
  cursor: pointer;
}

.switch:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  transition-property: transform;
}

#switch-1 {
  background-color: var(--light);
}

#switch-2 {
  background-color: var(--blue);
}

#switch-3 {
  background-color: var(--dark);
}
