:root {
  --main-color: rgb(202, 11, 123);
  --second-color: rgb(68, 68, 68);
  --third-color: rgb(253, 228, 0);
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Sora", sans-serif;
}
